.container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	width: calc(7.1875rem * 3);
	height: calc(8.5625rem * 3);
	background-image: url('/sprite.png');
	background-size: cover;
	border-radius: 1rem;
	box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.1);
	animation-name: running;
	animation-duration: 0.8s;
	animation-timing-function: steps(7);
	animation-iteration-count: infinite;
}

.card:hover {
	box-shadow: 0px 30px 50px -10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

@keyframes running {
	from {
		background-position-x: 0;
	}
	to {
		background-position-x: right;
	}
}
